@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar */

nav {
    padding: 30px;
    font-family: "Averia Serif Libre", serif;
    z-index: 1030; 
    position: fixed !important;
    width: 100vw !important;
}

nav a {
    font-weight: bold;
    color: #000000;
}

nav a.router-link-exact-active {
    color: #000000;
}

/* .sticky-top {
    position: -webkit-sticky;
    position: fixed !important;
    top: 0;
    z-index: 1020; 
} */


html {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh !important;
}



img[alt='logo'] {
    width: 5rem;
}

.row {
    font-family: "Averia Serif Libre", serif;
}